
<%= render 'layouts/list',book: @book, user: @user %>

<table class="table table-striped">
<h1>Books</h1>
<tr>
    <td>Title</td>
    <td>Opinion</td>
</tr>

<% @users.each do |user| %>
<ul><%= attachment_image_tag user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></ul>
<% end %>
<% @books.each do |book| %>
<p><%= link_to book.title,book_path(book.id) %></p>
<p><%= book.body%></p>
<% end %>
</table>